/* 修改选中部分的颜色和字体颜色 */
::selection {
	color: #fff;
	background: #000;
}

/* 修改默认滚动条样式 */
::-webkit-scrollbar {
	background-color: rgba(65, 67, 69, 0.2);
	width: 10px;
}

::-webkit-scrollbar:hover {
	background-color: rgba(65, 67, 69, 0.4);
}

::-webkit-scrollbar-thumb {
	background: rgba(35, 37, 38, 0.2);
	border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
	background: rgba(35, 37, 38, 0.6);
	border-radius: 10px;
}

::-webkit-scrollbar-track {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

/*
::-webkit-scrollbar              {  }
::-webkit-scrollbar-button       {  }
::-webkit-scrollbar-track        {  }
::-webkit-scrollbar-track-piece  {  }
::-webkit-scrollbar-thumb        {  }
::-webkit-scrollbar-corner       {  }
::-webkit-resizer                {  } 
*/




. {
	margin: 0;
	padding: 0;
	border: 0;
}

html {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

body {
	margin: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, #232526, #414345);
}

#top {
	width: 100%;
	height: 50px;
	background: #ccc;
	overflow: hidden;
	position: absolute;
	-webkit-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	z-index: 99;

}

#top img {
	position: relative;
	width: 30px;
	height: 30px;
	top: 10px;
	-webkit-filter: drop-shadow(1px 1px 2px #000);
	transition: 0.1s ease-in-out;
}

#top img:hover {
	transform: scale(1.05);
	-webkit-filter: drop-shadow(1px 1px 2px rbg(255, 255, 255, 0.2));
}

#top img:active {
	transform: scale(0.95);
	-webkit-filter: drop-shadow(1px 1px 5px #000);
}

#top img:nth-child(1) {
	float: left;
	left: 20px;
}

#top img:nth-child(2) {
	float: right;
	right: 20px;
}

#hitokotoAPI {
	top: 10px;
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
	transition: 0.25s ease-in-out;
	-webkit-user-select: text;
	-moz-user-select: text;
}


#hitokoto {
	position: relative;
	font-size: 1.2rem;
	font-weight: 200;
}

#hitokotoAuthor {
	position: relative;
	font-size: 0.5rem;
	font-weight: 200;
	bottom: -15px;
}

#loginPart {
	width: 300px;
	height: 200px;
	background: #f9f9f9;
	position: absolute;
	right: 0;
	top: 50px;
	z-index: 3;
	box-shadow: 0px 0px 10px #898989;
	display: none;
	animation: flipInX 1s;
	padding: 20px;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
}

@-webkit-keyframes flipInX {
	0% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in;
		opacity: 0
	}

	40% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
		-webkit-transition-timing-function: ease-in;
		transition-timing-function: ease-in
	}

	60% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
		opacity: 1
	}

	80% {
		-webkit-transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
		transform: perspective(400px) rotate3d(1, 0, 0, -5deg)
	}

	100% {
		-webkit-transform: perspective(400px);
		transform: perspective(400px)
	}
}

.formGroup{
	position: relative;
	width: 300px;
	height: 80px;
}

#loginUser{
	width: 278px;
	height: 40px;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
	margin-top: 10px;
	padding: 0 10px 0 10px;
	
}

#loginPassword{
	width: 278px;
	height: 40px;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
	margin-top: 10px;
	padding: 0 10px 0 10px;
}
#loginSubmit{
	width: 100%;
	height: 40px;
	background: #89c3eb;
	border: 1px solid rgba(0,0,0,.1);
	border-radius: 2px;
	margin-top: 10px;
	padding: 0 10px 0 10px;
}









#sidebar {
	position: absolute;
	width: 500px;
	height: 100%;
	top: 50px;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 50%);
	left: -500px;
	transition: 0.5s ease-in-out;
	z-index: 9;
}

#sidebarCover {
	width: 100%;
	height: 100%;
	background: #000000;
	opacity: 0.2;
	position: absolute;
	z-index: 1;
	display: none;
}

.sidebarOptions {
	position: relative;
	width: 100%;
	height: 50px;
	background: #fff1eb;
	margin-bottom: 0;
	text-align: center;
	letter-spacing: 5px;
	line-height: 50px;
	box-shadow: 0px 0px 1px #414345 inset;
	transition: 0.25s;
	float: left;
	border-radius: 10px;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

.sidebarOptions>img {
	width: 15px;
	height: 15px;
	position: absolute;
	bottom: 5px;
	transition: 0.25s ease-in-out;

}

.content {
	position: relative;
	width: 100%;
	height: 0;
	background: #FFFFF2;
	float: left;
	border-radius: 0 0 10px 10px;
	transition: 0.5s ease-in-out;
	overflow: hidden;
}



#HistoryContent p {
	position: relative;
	float: left;
	width: 400px;
	height: auto;
	background: #EFFFE9;
	letter-spacing: 1px;
	line-height: 40px;
	font-size: 15px;
	font-weight: 300;
	box-shadow: 1px 1px 10px #CCCCCC;
	border-radius: 0 10px 10px 0;
	transition: 0.25s ease-in-out;
	margin: 10px 0 10px 0;
	padding-left: 10px;
	padding-right: 20px;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;

}

#HistoryContent p:hover {
	letter-spacing: 2px;
	padding-left: 20px;
	padding-right: 40px;
	font-weight: 400;
}

#hitokotoCopy {
	opacity: 0;
}

#hitokotoCopyTips {
	position: absolute;
	width: 150px;
	height: 100px;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #C9CCD3;
	border-radius: 20px;
	line-height: 100px;
	letter-spacing: 10px;
	font-size: 35px;
	padding-left: 25px;
	font-weight: 600;
	color: #514F59;
	border: 5px solid #000;
	opacity: 0.5;
	display: none;
	transition: 0.5s ease-in-out;
	transform: scale(1);

}
















#music_interface {
	position: relative;
	width: 600px;
	height: 100%;
	top: 50px;
	left: 100px;

}

#music_name {
	width: 600px;
	height: 50px;
	color: #CCCCCC;
	padding-top: 20px;
	font-size: 2.125rem;
	float: left;
	font-weight: 500;
	letter-spacing: 0.1rem;
	text-align: center;
	text-shadow: 0 0 .5rem black;
	transition: 0.15s ease-in-out;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;

}

#music_nameSroll {
	position: absolute;
	width: 600px;
	height: 50px;
	left: 0px;
	transition: 0.5s ease-in-out;
	animation-play-state: paused;
}

/* animation: music_nameSroll_20 15s linear infinite; */
@keyframes music_nameSroll_20 {
	0% {
		left: 600px;
	}

	99.99% {
		left: -720px;
	}

	100% {
		left: 600px
	}
}

/* animation: music_nameSroll_34 20s linear infinite; */
@keyframes music_nameSroll_34 {
	0% {
		left: 600px;
	}

	99.99% {
		left: -1224px;
	}

	100% {
		left: 600px
	}
}

/* animation: music_nameSroll_51 30s linear infinite; */
@keyframes music_nameSroll_51 {
	0% {
		left: 600px;
	}

	99.99% {
		left: -1836px;
	}

	100% {
		left: 600px
	}
}

/* animation: music_nameSroll_hentai 60s linear 3s infinite; */
@keyframes music_nameSroll_hentai {
	0% {
		left: 600px;
	}

	99.99% {
		left: -5220px;
	}

	100% {
		left: 600px
	}
}



#music_name span:nth-child(2) {
	color: rgba(204, 204, 204, 0.5);
	font-weight: 300;

}



#album {
	position: absolute;
	width: 400px;
	height: 400px;
	top: 150px;
	left: 100px;
	border-radius: 100%;
	transition: 0.5s;
	animation: albumRotatr 20s linear infinite paused;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

@keyframes albumRotatr {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

#album img:nth-child(2) {
	width: 400px;
	height: 400px;
	border-radius: 100%;
	position: absolute;
}

#album img:nth-child(1) {
	width: 400px;
	height: 400px;
	border-radius: 100%;
	position: absolute;
	transform: scale(1.1);
	filter: blur(20px);
}

#album img:nth-child(3) {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 150px;
	left: 150px;
	-webkit-filter: drop-shadow(0 0 10px #000);
	animation: recordRotatr 20s linear infinite paused;
}

@keyframes recordRotatr {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(-360deg);
	}
}

#control {
	width: 600px;
	height: 100px;
	position: absolute;
	bottom: 80px;
	overflow: hidden;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
}

#control img {
	top: 10px;
	width: 80px;
	height: 80px;
	position: relative;
	-webkit-filter: drop-shadow(0 0 2px #232526);
	transition: 0.15s;

}



#control img:nth-child(1) {
	float: left;
	left: 50px;
}

#control img:nth-child(2) {
	left: 185px;
	transition: null;
}

#control img:nth-child(3) {
	float: right;
	right: 50px;
}

#control img:hover {
	transform: scale(1.05);
	-webkit-filter: drop-shadow(0 0 5px #232526);
}

@keyframes click {
	0% {
		transform: scale(1);
	}

	50% {
		transform: scale(0.8);
	}

	100% {
		transform: scale(1);
	}
}

#progressParts {
	width: 600px;
	height: 50px;
	bottom: 200px;
	position: absolute;
	-webkit-user-select: none;
	-ms-user-select: none;
	-moz-user-select: none;
	z-index: 2;

}

#progressParts div {
	position: absolute;
	bottom: 10px;
	float: left;
}

#progress {
	width: 100%;
	height: 30px;
}

#progressAll {
	height: 6px;
	width: 600px;
	background: #232526;
	border-radius: 5px;
}

#progressNow {
	height: 6px;
	background: #000000;
	border-radius: 5px 0 0 5px;
	transition: 0.15s;
}

#progressPoint {
	position: absolute;
	width: 15px;
	height: 15px;
	background: white;
	top: 10px;
	border-radius: 100%;
	box-shadow: inset 0 0 5px #000;
	transition: 0.15s;
	-webkit-filter: drop-shadow(0 0 8px #fbfbfb);
	-moz-filter: drop-shadow(0 0 8px #fbfbfb);
	-o-filter: drop-shadow(0 0 8px #fbfbfb);
	z-index: 2;
}


#progressParts span {
	position: relative;
	font-family: sans-serif, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", ;
	font-size: 1.25rem;
	font-weight: 600;
	float: left;
	top: -10px;
	z-index: 1;
}


#volumeParts {
	position: absolute;
	width: 40px;
	height: 100px;
	right: 40px;
	top: -90px;
	float: right;
	padding: 0;
	margin: 0;
}

#mute {
	position: relative;
	width: 20px;
	height: 20px;
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
	top: 80px;
	left: 10px;
}

#mute img {
	position: relative;
	width: 20px;
	height: 20px;
	padding: 0;
	margin: 0 auto;
}

#volumeBarParts {
	width: 20px;
	height: 75px;
	top: 0px;
	left: 10px;
	overflow: hidden;
}



#volumeBar {
	width: 20px;
	height: 75px;
	top: 75px;
	overflow: hidden;
	transition: 0.25s ease-in-out;

}



#volume {
	width: 8px;
	height: 75px;
	background: #303030;
	top: 0px;
	left: 6px;
	border-radius: 10px 10px 0 0;
	filter: drop-shadow(1px 1px 3px black);
	transition: 0.25s ease-out;



}

#volumeNow {
	width: 8px;
	height: 75px;
	background: white;
	top: 0px;
	left: 6px;
	border-radius: 10px 10px 0 0;
	transition: 0.1s ease-out;


}





#nowTime {}

#allTime {}

#playMethod {
	width: 30px;
	height: 30px;
	position: relative;
	right: 10px;
	top: -6px;

}

#playMethod img {
	width: 30px;
	height: 30px;
	top: -10px;
	position: relative;
	display: none;
	-webkit-filter: drop-shadow(1 px 1px 1px #000) transition: 0.25s;
	z-index: 2;
}

#playMethod img:hover {
	-webkit-filter: drop-shadow(0px 0px 5px #232526);
}

#playMethod img:nth-child(1) {
	display: block;
}

#playMethod img:nth-child(2) {
	width: 30px;
	height: 22.5px;
	top: -6px;
}


#main_interface {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 50px;
	right: 0;
}

#main_control {
	position: relative;
	width: 100%;
	height: 100px;
}

#main_control span {
	position: relative;
	width: 50%;
	height: 100px;
	float: left;
	line-height: 100px;
	font-size: 1.875rem;
	font-weight: 300;
	text-align: center;
	color: #CCCCCC;
	transition: 0.25s ease-in-out;
	font-family: sans-serif, "Helvetica Neue", Helvetica, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", ;
	/* z-index: 9; */
}

#main_control span:hover {
	font-weight: 320;
	text-shadow: 0 0 .25rem white;
}

#main_control_border {
	width: 50%;
	height: 2px;
	background: #CCCCCC;
	top: 98px;
	position: relative;
	transition: 0.25s ease-out;
	left: 0%;
}






#comments {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: top center;
	transition: 0.1s;
	overflow-y: auto;
	display: none;
	border-top: rgba(0, 0, 0, 0) solid 10px;
}










/* 单条评论的样式 */
#comments>div {
	width: 100%;
	float: left;
	margin-top: 10px;
}

/* 评论者的的头像 */
#comments>div>div:nth-child(1)>img {
	width: 50px;
	height: 50px;
	float: left;
	padding: 10px;
	border-radius: 100%;
}

/* 评论者昵称 评论时间 点赞个数 */
#comments>div>div:nth-child(2) {
	width: 100%;
	height: 20px;

}

/* 评论者昵称*/
#comments>div>div:nth-child(2) span:nth-child(1) {
	color: #6495ED;
	font-size: 15px;
	font-weight: 400;

}

/* 评论时间*/
#comments>div>div:nth-child(2) span:nth-child(2) {
	color: #232526;
	font-size: 10px;
	font-weight: 400;
	padding-left: 10px;
}

/* 评论点图标 */
#comments>div>div:nth-child(2) span:nth-child(3) img {
	width: 20px;
	height: 20px;
	padding-top: 0;
	float: right;
	margin-right: 10px;
}

/* 评论点赞个数 */
#comments>div>div:nth-child(2) span:nth-child(4) {
	font-size: 10px;
	font-weight: 300;
	float: right;
	padding-top: 5px;
	margin-right: 10px;
}

/* 评论内容 */
#comments>div>div:nth-child(3) {
	padding: 10px 0 10px 70px;
	top: 10px;
	font-size: 20px;
	font-weight: 300;
}



#lyric {
	width: 100%;
	height: 100%;
	position: relative;
	transform-origin: top center;
	transition: 0.1s;
	overflow-y: auto;
	display: block;
	overflow: auto;
	transition: 0.25s ease-in-out;
}



#lyric p {
	transition: 0.5s ease-in-out;
	top: 50%;
}

/* 所有歌词默认样式 */
.lyricContent {
	width: 100%;
	height: 50px;
	font-size: 20px;
	position: relative;
	color: rgba(0, 0, 0, 0.8);
	margin: 0 auto;
	font-weight: 400;
	text-align: center;
	font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
}

/* 当前歌词样式 */
.nowLyric {
	width: 100%;
	height: 80px;
	font-size: 30px;
	position: relative;
	color: rgba(256, 256, 256, 0.6);
	margin: 0 auto;
	font-weight: 400;
	text-align: center;
	font-family: "ms sans serif";
	text-shadow: 3px 2px 3px rgba(158, 161, 163, 0.5);
}


#playListPart {
	width: 400px;
	height: 100%;
	background: #EFFFE9;
	position: absolute;
	top: 50px;
	right: -400px;
	transition: 0.5s ease-in-out;
	-webkit-user-select: none;
	z-index: 2;
}

#ListTip {
	position: absolute;
	width: 40px;
	height: 60px;
	top: 10px;
	transform: translate(-100%);
}

#ListTip img {
	position: absolute;
	width: 40px;
	height: 60px;
	opacity: 0.2;
	transition: 0.5s ease-in-out;
	z-index: 3;


}

#ListTip img:hover {
	opacity: 0.8;
	-webkit-filter: drop-shadow(0 0 5px #ccc);
}

#playingList {
	position: absolute;
	width: 100%;
	height: 40px;
	top: 0;
	z-index: 3;
	padding-left: 5px;
	letter-spacing: 10px;
	text-align: center;
	font-size: 30px;
	font-weight: 400;
	color: rgba(204, 204, 204, 1);
	overflow: hidden;
	text-shadow: 1px 1px 5px #2B2B2B;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	transition: 0.1s ease-in-out;
	background-image: linear-gradient(to left, lightgrey 0%, lightgrey 15%, #e0e0e0 26%, #d9d9d9 75%, #bcbcbc 100%);


}

#playList {
	position: absolute;
	width: 100%;
	height: 100%;
	background: white;
	transition: 0.5s ease-in-out;
	z-index: 2;
	overflow-y: scroll;
	overflow-x: none;
	background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%);

}

.list {
	position: relative;
	width: 100%;
	height: 70px;
	top: 40px;
	background: #CCCCCC;
	overflow: hidden;
	background-image: linear-gradient(to top, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
	background-blend-mode: screen, overlay;
}

.list:nth-child(odd) {
	background-image: linear-gradient(to left, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
}

.list:nth-child(even) {
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.25) 100%);
}



.listCover {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0px;
	left: 5px;
}

.playing {
	position: absolute;
	width: 70px;
	height: 70px;
	top: 0px;
	left: 5px;
	background: rgba(0, 0, 0, 0.8);
}

.playing>div {
	position: relative;
	width: 50px;
	height: 50px;
	top: 10px;
	left: 10px;
	margin: 0;
	padding: 0;
	transform: scale(0.95);
	animation: playing 10s linear 0.1s alternate infinite;
}

@keyframes playing {
	0% {
		transform: scale(0.925);
	}

	40% {
		transform: scale(0.916);
	}

	60% {
		transform: scale(0.935);
	}

	100% {
		transform: scale(0.943);
	}
}

.playing>div div {
	margin: 0;
	position: absolute;
	width: 3px;
	bottom: 0px;
	background: rgba(211, 211, 211, 1);
}

.playing>div div:nth-child(1) {
	height: 10px;
	left: 12px;
	animation: playing_1 1s ease-in-out 0.1s alternate infinite;
}

@keyframes playing_1 {
	0% {
		height: 16px;
	}

	40% {
		height: 25px;
	}

	60% {
		height: 40px;
	}

	100% {
		height: 25px;
	}
}

.playing>div div:nth-child(2) {
	height: 10px;
	left: 20px;
	animation: playing_2 1s ease-in-out 0.34s alternate infinite;
}

@keyframes playing_2 {
	0% {
		height: 15px;
	}

	40% {
		height: 25px;
	}

	60% {
		height: 40px;
	}

	100% {
		height: 20px;
	}
}

.playing>div div:nth-child(3) {
	height: 15px;
	left: 28px;
	animation: playing_3 1s ease-in-out 0.58s alternate infinite;
}

@keyframes playing_3 {
	0% {
		height: 8px;
	}

	40% {
		height: 25px;
	}

	60% {
		height: 40px;
	}

	100% {
		height: 20px;
	}
}

.playing>div div:nth-child(4) {
	height: 8px;
	left: 36px;
	animation: playing_4 1s ease-in-out 0.95s alternate infinite;
}

@keyframes playing_4 {
	0% {
		height: 19px;
	}

	40% {
		height: 25px;
	}

	60% {
		height: 40px;
	}

	100% {
		height: 20px;
	}
}






.listName {
	position: absolute;
	margin: 0;
	top: 5px;
	left: 100px;
	color: #16160e;
	font-size: 17px;
	font-weight: 400;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	transition: 0.1s ease-in-out;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 250px;
	height: auto;
}


.listArtist {
	position: absolute;
	margin: 0;
	top: 30px;
	left: 100px;
	color: #2b2b2b;
	font-family: "ms sans serif";
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight: 100;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 250px;
	height: auto;
	overflow: hidden;
}

.listAdd {
	position: absolute;
	width: 20px;
	height: 70px;
	right: 0;
	transition: 0.15s;
	background-image: url(../img/icon/moreOption.png);
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: 50%;
	-webkit-filter: opacity(0.2);
	transition: 0.1s;
}

.listAdd:hover {
	box-shadow: 0 0 20px rgba(57, 63, 76, 0.9) inset;
}

.listAdd:active {
	-webkit-filter: opacity(0.8);
	background-color: rgba(57, 63, 76, 0.5);
	box-shadow: 0 0 20px rgba(57, 63, 76, 0.8) inset;
}














#CloudPlayList {
	position: absolute;
	width: 100%;
	height: 100%;
	background: #e7e7eb;
	transition: 0.5s ease-in-out;
	z-index: 1;
	right: 0px;
	background-image: url(../img/background/wihteToBlack_f.jpg);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
	/* 	overflow-y: scroll;
	overflow-x: none; */
}

/* #CloudPlayList::-webkit-scrollbar {
	width: 0;
} */



#user {
	position: fixed;
	width: 400px;
	height: 40px;
	background: #ebf6f7;
	z-index: 2;

}

#uesrCover {
	width: 100%;
	height: 40px;
	background: #ebf6f7;
	position: absolute;
	overflow: hidden;
}

#uesrCover img {
	position: absolute;
	-webkit-filter: blur(10px);
	top: -10px;
	animation: uesrCover 10s ease-in-out alternate infinite;
	opacity: 0.9;
}

@keyframes uesrCover {
	0% {
		top: -10px;
	}

	100% {
		top: -150px;
	}
}

#userAvatar {
	width: 36px;
	height: 36px;
	position: relative;
	overflow: hidden;
	border-radius: 100%;
	float: left;
	border: white 2px solid;
	margin-left: 10px;
}

#userAvatar img {
	width: 36px;
	height: 36px;
	overflow: hidden;
	float: left;
	position: relative;
	transition: 0.5s ease-in-out;

}

#userAvatar img:hover {
	/* 	-webkit-filter: blur(2px); */
	transform: rotate(360deg) scale(1.5);
}

#userName {
	position: relative;
	float: left;
	left: 10px;
	color: #CCCCCC;
	font-size: 20px;
	font-weight: 200;
	letter-spacing: 0.2rem;
	text-align: center;
	text-shadow: 0 0 .5rem black;
}

#userListTip {
	width: 40px;
	height: 40px;
	right: 0px;
	float: right;
	position: relative;
	overflow: hidden;

}

#userListTip img {
	width: 40px;
	height: 40px;
	top: 1px;
	position: relative;
	-webkit-filter: invert(20%);
	transition: 0.25s ease-in-out;
}

#userListTip img:hover {
	top: 0px;
	-webkit-filter: invert(20%) drop-shadow(1px 1px 3px #000000);
}

#userListTip img:active {
	top: 5px;
}

#uesrList {
	width: 100%;
	height: 100%;
	top: 40px;
	position: relative;
	background: #CCCCCC;
	z-index: 1;
	transition: 0.5s ease-in-out;
	overflow: hidden;
	column-fill: 3;
	overflow-y: scroll;
	overflow-x: hidden;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
	background-size: 100% 100%;
}

#uesrList::-webkit-scrollbar {
	width: 0;
}

.uesrList {
	position: relative;
	width: 96px;
	height: 96px;
	top: 20px;
	margin: 10px;
	left: 20px;
	float: left;
	overflow: hidden;
	border: rgba(0, 0, 0, 0.5) 2px solid;
	display: inline-block;
	border-radius: 5px;

}

.uesrList:last-child {
	margin-bottom: 50px;
}


.uesrListCover {
	width: 100px;
	height: 100px;
	overflow: hidden;
	position: relative;
}

.uesrListCover img {
	width: 100px;
	height: 100px;
	top: -2px;
	left: -2px;
	overflow: hidden;
	position: relative;
	transition: 0.25s ease-in-out;
}

.uesrListName {
	position: absolute;
	width: 96px;
	height: 20px;
	bottom: 0;
	overflow: hidden;
	transition: 0.25s ease-in-out;
}

.uesrListName_n {
	position: absolute;
	display: inline-block;
	height: 20px;
	left: 0px;
	margin: 0;
	width: 96px;
	margin-top: 0px;
	line-height: 20px;
	letter-spacing: 1px;
	font-weight: 200;
	font-size: 15px;
	color: #e7e7eb;
	background: rgba(0, 0, 0, 0.2);
	text-align-last: center;
	white-space: nowrap;
	transition: 0.25s ease-in-out;
	font-family: sans-serif, "Trebuchet MS", Arial, Helvetica;
	text-shadow: 3px 3px 3px #303030
}

@keyframes ListName_120 {
	0% {
		left: 96px;
	}

	99.99% {
		left: -120px;
	}

	100% {
		left: 96px;
	}
}

@keyframes ListName_220 {
	0% {
		left: 96px;
	}

	99.99% {
		left: -220px;
	}

	100% {
		left: 96px;
	}
}

@keyframes ListName_420 {
	0% {
		left: 96px;
	}

	99.99% {
		left: -420px;
	}

	100% {
		left: 96px;
	}
}

@keyframes ListName_620 {
	0% {
		left: 96px;
	}

	99.99% {
		left: -620px;
	}

	100% {
		left: 96px;
	}
}

.uesrListName_d {
	position: relative;
	width: 90px;
	height: 70px;
	margin-top: 20px;
	padding: 5px;
	line-height: 15px;
	text-align-last: left;
	text-indent: 28px;
	letter-spacing: 2px;
	font-weight: 200;
	font-size: 12px;
	color: black;
	overflow-y: scroll;
	overflow-x: hidden;
	text-shadow: rgba(67, 67, 67, 0.6) 1px 1px 3px;
	font-family: "Trebuchet MS", Arial, Helvetica;
}

.uesrListName_d::-webkit-scrollbar {
	width: 0;
}





#Cloud {
	position: relative;
	width: 400px;
	height: 40px;
	top: 40px;
	float: left;
	background: #000000;

}

#cloudCover {
	width: 400px;
	height: 40px;
	position: relative;
	overflow: hidden;

}

#cloudCover img {
	width: 400px;
	height: 400px;
	top: -100px;
	position: relative;
	-webkit-filter: blur(5px);
	animation: cloudCover 10s ease-in-out alternate infinite;


}

@keyframes cloudCover {
	0% {
		top: -100px;
	}

	100% {
		top: -140px;
	}
}

#CloudListTipName {
	position: absolute;
	float: left;
	width: 400px;
	height: 40px;
	top: 0;
	text-align: center;
	color: #CCCCCC;
	font-size: 25px;
	font-weight: 200;
	line-height: 40px;
	letter-spacing: 0.2rem;
	text-shadow: 0 0 .5rem black;
}

#CloudListTip {
	width: 40px;
	height: 40px;
	position: absolute;
	float: left;
	right: 0;
	top: 0;
}

#CloudListTip img {
	width: 40px;
	height: 40px;
	top: 2px;
	position: relative;
	-webkit-filter: invert(20%);
	transition: 0.2s ease-in-out;
}

#CloudListTip img:hover {
	top: 0px;
	-webkit-filter: invert(20%) drop-shadow(2px 2px 3px #000000);
}

#CloudListTip img:active {
	top: 5px;
}




#CloudList {
	width: 100%;
	height: 100%;
	top: 40px;
	position: relative;
	background: #CCCCCC;
	z-index: 1;
	transition: 0.5s ease-in-out;
	overflow: hidden;
	background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);
	background-size: cover;
}



.CloudList {
	position: relative;
	width: 96px;
	height: 96px;
	top: 20px;
	margin: 10px;
	left: 20px;
	float: left;
	overflow: hidden;
	border: rgba(0, 0, 0, 0.5) 2px solid;
	display: inline-block;
	border-radius: 0;
}

.CloudList:last-child {
	margin-bottom: 50px;
}



.CloudListCover {
	width: 100px;
	height: 100px;
	overflow: hidden;
	position: relative;
}

.CloudListCover img {
	width: 100px;
	height: 100px;
	top: -2px;
	left: -2px;
	overflow: hidden;
	position: relative;
	transition: 0.25s ease-in-out;

}

.CloudListName {
	position: absolute;
	width: 96px;
	height: 20px;
	bottom: 0;
	overflow: hidden;
	transition: 0.25s ease-in-out;
}

.CloudListName_n {
	position: absolute;
	display: inline-block;
	height: 20px;
	left: 0px;
	margin: 0;
	width: 96px;
	margin-top: 0px;
	line-height: 20px;
	letter-spacing: 1px;
	font-weight: 200;
	font-size: 15px;
	color: #e7e7eb;
	background: rgba(0, 0, 0, 0.2);
	text-align-last: center;
	white-space: nowrap;
	transition: 0.25s ease-in-out;
	font-family: sans-serif, "Trebuchet MS", Arial, Helvetica;
	text-shadow: black 1px 1px 5px;
}

.CloudListName_d {
	position: relative;
	width: 90px;
	height: 70px;
	margin-top: 20px;
	padding: 5px;
	line-height: 15px;
	text-align-last: left;
	text-indent: 28px;
	letter-spacing: 2px;
	font-weight: 200;
	font-size: 12px;
	color: black;
	overflow-y: scroll;
	overflow-x: hidden;
	text-shadow: rgba(67, 67, 67, 0.6) 1px 1px 3px;
	font-family: "Trebuchet MS", Arial, Helvetica;
}

.CloudListName_d::-webkit-scrollbar {
	width: 0;
}
y